@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.raleway{
    font-family: "Raleway", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.bgimg-height{
    height: 70vh;
}
.bor-radius{
    border-top: 3px solid #1DD100;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
}